/* COMPONENT SELECTORS */
body {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Carter One", cursive;
  color: #084887;
}

h2 {
  font-family: "Carter One", cursive;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 3px;
}

h3 {
  font-size: 25px;
  margin-bottom: 0;
}

nav {
  background-color: #084887;
}

li {
  text-align: left;
  font-size: 1rem;
}

.navbar h1 {
  color: white;
}

/********************************************************* ID SELECTORS **********************************************************/
/* LANDING PAGE */
#landing {
  background-color: #909cc2;
  text-align: center;
  color: white;
}

#landing h1 {
  padding-top: 80px;
}

#landing img {
  margin-top: 30px;
  height: 200px;
  width: 200px;
}

/* PROFESSIONAL TIMELINE */
#professional-timeline {
  background-color: #f7f5fb;
  padding: 30px;
  text-align: center;
  color: #084887;
}

#professional-timeline h2 {
  color: #084887;
  font-size: 25px;
}

.timeline-line {
  stroke-width: 6px;
  stroke: #909cc2;
}

.timeline-event {
  stroke: #12b79e;
  stroke-width: 4px;
  fill: #f7f5fb;
}

circle.timeline-event:hover {
  fill: #12b79e;
}

.timeline-end {
  stroke: #909cc2;
  fill: #909cc2;
}

.timeline-item {
  height: 300px;
  width: 700px;
  padding: 30px;
  background-color: white;
  width: 30rem;
  text-align: center;
  border: solid;
  border-radius: 20px;
  border-width: 10px;
  border-color: #12b79e;
}

.timeline-text {
  font-size: 70%;
}

/* PROGRAMS */
#programs {
  background-color: #909cc2;
  padding: 20px;
  text-align: center;
  border-width: 10px;
  border-color: #12b79e;
  color: white;
}

.applications {
  padding: 0px;
  background-color: white;
  width: 30rem;
  text-align: center;
  border: solid;
  border-radius: 25px;
  border-width: 8px;
  border-color: #084887;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  height: 175px;
}

.application-category {
  background-color: #084887;
  margin: 0px;
  padding-bottom: 10px;
}

.applications img {
  height: 60px;
  width: 60px;
  padding: 10px;
}

.app-identifier {
  color: #12b79e;
}

/* Icons */
i {
  color: black;
  padding-top: 10px;
}

i:hover {
  color: #12b79e;
}

.fa-css3-alt {
  color: #2196f3;
}

.fa-html5 {
  color: #ef652a;
}

.fa-js {
  color: #f7df1e;
}

.fa-react {
  color: #56c2de;
}

.fa-bootstrap {
  color: #563d7c;
}

.fa-node-js {
  color: #72b012;
}

.applications i {
  padding-left: 5px;
  padding-right: 5px;
}
